<head>
<meta charset="UTF-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}The thoughts and work of Magnus Skare.{% endif %}" />
<meta content="website" property="og:type" />
<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:site_name">
<meta content="{% if page.title %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}/{% endif %}" property="og:url">
<meta content="{{ site.url }}/img/show/3.jpg" property="og:image" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{{ site.baseurl }}/img/assets/favicon.png">
<link rel="canonical" href="{% if page.title %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}/{% endif %}" />
<script src="https://use.typekit.net/smz0fdf.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
</head>