<head>
<meta charset="UTF-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}The thoughts and work of Magnus Skare.{% endif %}" />
<meta content="website" property="og:type" />
<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:site_name">
<meta content="{% if page.title %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}" property="og:url">
<meta content="{{ site.url }}/img/riktigspor/space.jpg" property="og:image" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% if page.final == true %}
<link rel="shortcut icon" href="{{ site.url }}/img/final/lines.png">
{% else %}
<link rel="shortcut icon" href="{{ site.url }}/img/assets/favicon.png">
{% endif %}
<link rel="canonical" href="{% if page.title %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}/{% endif %}" />
<meta name="robots" content="noindex">

<link rel="stylesheet" href="{{ site.url }}/css/main.css" />

<script>
	!function(e,t,n,r,a,s,i,l){n&&(s=n[r],s&&(i=e.createElement("style"),i.innerHTML=s,e.getElementsByTagName("head")[0].appendChild(i)),l=t.setAttribute,t.setAttribute=function(e,p,u,o){"string"==typeof p&&p.indexOf(a)>-1&&(u=new XMLHttpRequest,u.open("GET",p,!0),u.onreadystatechange=function(){if(4===u.readyState){o=u.responseText.replace(/url\(\//g,"url("+a+"/");try{o!==s&&(n[r]=o)}catch(e){s&&(s=i.innerHTML="")}}},u.send(null),t.setAttribute=l,s)||l.apply(this,arguments)})}(document,Element.prototype,localStorage,"tk","https://use.typekit.net");
  (function(d) {
    var config = {
      kitId: 'tbq0kyt',
      scriptTimeout: 2000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

</head>