<!--[if lt IE 9]>
<style>#ie-upgrade{background:#FFF;bottom:0;display:table;height:100%;left:0;position:fixed;right:0;top:0;width:100%;z-index:9000;}#ie-only{margin-bottom: 0;}.ie-message{display:table-cell;text-align:center;vertical-align:middle;padding: 0 20%;}.ie-message p{max-width:500px;margin:20px auto 30px;}#ie-upgrade .btn{display:inline-block;background:#555;color:#FFF;padding:9px 20px 8px;margin-top:8%;}</style>
<div id="ie-upgrade">
	<div class="ie-message">
		<h1>Hello Internet Explorer user</h1>
		<p>Your current Internet browser is being outphased, and is too old to display this page correctly. Please consider upgrading your browser, or downloading <a href="https://www.google.com/chrome/">a modern alternative</a>.</p><br>
		<a href="#" id="ie-only" class="btn">Continue anyway</a>
	</div>
</div>
<script>
$('#ie-only').on('click', function() {
  $('#ie-upgrade').css('display', 'none');
});
</script>
<![endif]-->