---
layout: default
---

<article class="article">
	{{ content }}

	{% if page.journal == true %}
	<!-- Blank -->

	{% elsif page.article == true %}
	<!-- Blog posts, articles, page prev/next -->
	<div class="grid">
		<div class="col-50">
			{% if page.next.url %}
				<a href="{{ page.next.url }}" class="button">
					<svg class="icon icon-chevron-thin-left">
						<use xlink:href="#icon-chevron-thin-left"></use>
					</svg>
					Newer post
				</a>
			{% endif %}
		</div>
		<div class="col-50">
			{% if page.previous.url %}
				<a href="{{ page.previous.url }}" class="button button-right">
					<svg class="icon icon-chevron-thin-right">
						<use xlink:href="#icon-chevron-thin-right"></use>
					</svg>
					Older post
				</a>
			{% endif %}
		</div>
	</div>

	{% else %}
	<!-- Everything else, back to home -->
	<p class="mid">
		<a href="/" class="button">
		<svg class="icon icon-chevron-thin-left">
			<use xlink:href="#icon-chevron-thin-left"></use>
		</svg>
		Back to home
		</a>
	</p>
	{% endif %}
</article>